@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  @apply w-screen;
  @apply h-screen;

  @apply overflow-hidden;
}

.window-controls .window-btn span {
  opacity: 0;
  transition: opacity 0.15s;
}

.window-controls:hover .window-btn span {
  opacity: 1;
}

.react-terminal::-webkit-scrollbar {
  width: 6px;
}

.react-terminal::-webkit-scrollbar-track {
  background: transparent;
}

.react-terminal::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 3px;
}
